<main>
  <h1>.</h1>
  <div>
    <h2>Clase 01</h2>
    <div>
      <label for="">edad1:</label>
      <input type="number" min="1" max="99" [(ngModel)]="this.edadUno" />
    </div>
    <div>
      <label for="">edad2:</label>
      <input type="number" min="1" max="99" [(ngModel)]="this.edadDos" />
    </div>
    <div>
      <input type="button" value="Calcular" (click)="this.Calcular()" />
      <input type="button" value="Limpiar" (click)="this.Limpiar()" />
    </div>
    <div>
      <label for="">Suma:</label>
      <label for="">{{ this.suma }}</label>
    </div>
    <div>
      <label for="">Promedio:</label>
      <label for="">{{ this.promedio }}</label>
    </div>
  </div>
  <router-outlet></router-outlet>
</main>
